<div class="nav1" xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <div class="logo"><img src="img/logo.jpg" alt=""></div>
    <div class="nav">
        <ul>
            <li id="n1"><a th:href="@{index.html}">首&nbsp页</a></li>
            <li id="n2"><a th:href="@{chanpin1.html}">产品中心</a>
                <div class="jnNav">
                    <div class="subitem">
                        <dl class="fore">
                            <dt>
                                <a href="#nogo">产品分类：</a>
                            </dt>
                            <dd>
                                <em ><a href="#nogo">椅子</a></em>
                                <em ><a href="#nogo">桌子</a></em>
                                <em ><a href="#nogo">沙发</a></em>
                                <em ><a href="#nogo">灯具</a></em>
                                <em ><a href="#nogo">凳子</a></em>
                                <em ><a href="#nogo">椅子</a></em>
                                <em ><a href="#nogo">桌子</a></em>
                                <em ><a href="#nogo">沙发</a></em>
                                <em ><a href="#nogo">灯具</a></em>
                                <em ><a href="#nogo">凳子</a></em>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <a href="#nogo">品牌推荐：</a>
                            </dt>
                            <dd>
                                <em ><a href="#nogo">德克士</a></em>
                                <em ><a href="#nogo">ASIA</a></em>
                                <em ><a href="#nogo">德美</a></em>
                                <em ><a href="#nogo">美的</a></em>
                                <em ><a href="#nogo">海尔</a></em>
                                <em ><a href="#nogo">Baoi</a></em>
                                <em ><a href="#nogo">德克士</a></em>
                                <em ><a href="#nogo">ASIA</a></em>
                                <em ><a href="#nogo">德美</a></em>
                                <em ><a href="#nogo">美的</a></em>
                                <em ><a href="#nogo">海尔</a></em>
                                <em ><a href="#nogo">Baoi</a></em>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
            <li id="n3"><a th:href="@{xinwen1.html}">新闻中心</a>
                <div class="jnNav">
                    <div class="subitem">
                        <dl class="fore">
                            <dt>
                                <a href="#nogo">新闻分类：</a>
                            </dt>
                            <dd>
                                <em ><a href="#nogo">企业咨询</a></em>
                                <em ><a href="#nogo">商业机密</a></em>
                                <em ><a href="#nogo">趣味问答</a></em>
                                <em ><a href="#nogo">友情链接</a></em>
                                <em ><a href="#nogo">发展方式</a></em>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
            <li id="n4"><a th:href="@{guanyu.html}">关于我们</a>
                <div class="jnNav">
                    <div class="subitem">
                        <dl class="fore">
                            <dt>
                                <a href="#nogo">企业详情：</a>
                            </dt>
                            <dd>
                                <em ><a href="#nogo">企业历史</a></em>
                                <em ><a href="#nogo">企业文化</a></em>
                                <em ><a href="#nogo">人文环境</a></em>
                                <em ><a href="#nogo">硬件设施</a></em>
                                <em ><a href="#nogo">员工福利</a></em>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
            <li id="n5"><a th:href="@{lianxi.html}">联系我们</a>
                <div class="jnNav">
                    <div class="subitem">
                        <dl class="fore">
                            <dt>
                                <a href="#nogo">联系方式：</a>
                            </dt>
                            <dd>
                                <em ><a href="#nogo">硬件设施</a></em>
                                <em ><a href="#nogo">加盟条件</a></em>
                                <em ><a href="#nogo">资金运转</a></em>
                                <em ><a href="#nogo">门面设计</a></em>
                                <em ><a href="#nogo">后期服务</a></em>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
