<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" th:href="@{css/chanpin2.css}">
	<link rel="stylesheet" th:href="@{css/reset.css}">
	<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{js/chanpin2.js}"></script>
</head>
<body>
	<div class="content">
		<div class="nav1">
		<div class="logo"><img src="img/logo.jpg" alt=""></div>
		<div class="nav">
			<ul>
				<li id="n1"><a href="index.html">首&nbsp页</a></li>
				<li id="n2"><a href="chanpin2.html">产品中心</a>
					<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
									<a href="#nogo">产品分类：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">椅子</a></em>
									<em ><a href="#nogo">桌子</a></em>
									<em ><a href="#nogo">沙发</a></em>
									<em ><a href="#nogo">灯具</a></em>
									<em ><a href="#nogo">凳子</a></em>
									<em ><a href="#nogo">椅子</a></em>
									<em ><a href="#nogo">桌子</a></em>
									<em ><a href="#nogo">沙发</a></em>
									<em ><a href="#nogo">灯具</a></em>
									<em ><a href="#nogo">凳子</a></em>
								</dd>
							</dl>
							<dl>
								<dt>
									<a href="#nogo">品牌推荐：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">德克士</a></em>
									<em ><a href="#nogo">ASIA</a></em>
									<em ><a href="#nogo">德美</a></em>
									<em ><a href="#nogo">美的</a></em>
									<em ><a href="#nogo">海尔</a></em>
									<em ><a href="#nogo">Baoi</a></em>
									<em ><a href="#nogo">德克士</a></em>
									<em ><a href="#nogo">ASIA</a></em>
									<em ><a href="#nogo">德美</a></em>
									<em ><a href="#nogo">美的</a></em>
									<em ><a href="#nogo">海尔</a></em>
									<em ><a href="#nogo">Baoi</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li id="n3"><a href="xinwen1.html">新闻中心</a>
				<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
									<a href="#nogo">新闻分类：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">企业咨询</a></em>
									<em ><a href="#nogo">商业机密</a></em>
									<em ><a href="#nogo">趣味问答</a></em>
									<em ><a href="#nogo">友情链接</a></em>
									<em ><a href="#nogo">发展方式</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li id="n4"><a href="guanyu.html">关于我们</a>
					<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
									<a href="#nogo">企业详情：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">企业历史</a></em>
									<em ><a href="#nogo">企业文化</a></em>
									<em ><a href="#nogo">人文环境</a></em>
									<em ><a href="#nogo">硬件设施</a></em>
									<em ><a href="#nogo">员工福利</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li id="n5"><a href="lianxi.html">联系我们</a>
					<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
									<a href="#nogo">联系方式：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">硬件设施</a></em>
									<em ><a href="#nogo">加盟条件</a></em>
									<em ><a href="#nogo">资金运转</a></em>
									<em ><a href="#nogo">门面设计</a></em>
									<em ><a href="#nogo">后期服务</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
		<div class="zhuce">
			<em>注册</em>
			<em>登录</em>	
		</div>
		<div class="left">
			<div class="img">
			<li><img th:src="${g.detailImage.get(0)}" alt="">
			<img th:src="${g.detailImage.get(1)}" alt="" style="display:none">
			<img th:src="${g.detailImage.get(2)}"  alt="" style="display:none"></li>
			</div>
		 	<ul class="xijie">
		 		<li class="on"><img th:src="${g.detailImage.get(0)}"  height="60px" width="60px"></li>
		 		<li><img th:src="${g.detailImage.get(1)}"  height="60px" width="60px"></li>
		 		<li><img th:src="${g.detailImage.get(2)}"  height="60px" width="60px"></li>
		 	</ul>
		</div>
			<div class="right">
				<h1 th:text="${g.goodName}">藤编床头灯</h1>
                <p th:text="${g.sellPoint}">  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp在tarro灵感的“粘和软木，这是两个不同大小的个体，这
				四个人。工件安装在一个陶瓷tarro软木将直接在桌子上而不需要热的基础。在案件的格式适合自己个人的菜，把炉内的桌子上的软木塞，或是随身携带的食物。是一个集“montanhac”模式的启发，被追溯到阿拉伯地区的继承，并在海洋和天空的颜色，在葡萄牙南部的景观。维护和保持生活方式的“地中海饮食”,海洋和天空的颜色···</br>
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp在tarro灵感的“粘和软木，这是两个不同大小的个体，这
				四个人。工件安装在一个陶瓷tarro软木将直接在桌子上而不需要热的基础。在案件的格式适合自己个人的菜，把炉内的桌子上的软木塞，或是随身携带的食物
			</p>
				<ul>
					<li >
						<span>价&#12288;格：</span>
   						<strong class="del" th:text="${g.price}">279.00</strong>元
   					</li>
					<li class="cuxiao">
						<span>促&#12288;销：</span>
   						<strong th:text="${g.discountPrice}">156.00</strong>元
   					</li>
   					<li>数&#12288;量：
						<div class="num">
							<select id="num_sort">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
   					</li>
   					<li class="price">总&#12288;额：
						&nbsp<strong th:text="${g.discountPrice}">156</strong>元
   					</li>
				</ul>
				<div class="pro_rating">
					<span>给商品评分</span>：
					<ul class="rating">
      					<li>☆</li>
      					<li>☆</li>
      					<li>☆</li>
      					<li>☆</li>
      					<li>☆</li>
					</ul>
                    <p id="score"></p>
				</div>
				<div id="cart">
					<a th:href="@{/toCart(id=${g.id},num=${g.id})}"><img th:src="@{img/cart.png}" alt="放入购物车" /></a>
				</div>
			</div>
		</div>
</body>
</html>