<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻中心</title>
	<link rel="stylesheet" href="css/xinwen1.css">
	<link rel="stylesheet" href="css/reset.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/xinwen1.js"></script>
</head>
<body>
	<div class="content">
		<div class="nav1">
		<div class="logo"><img src="img/logo.jpg" alt=""></div>
		<div class="nav">
			<ul>
				<li id="n1"><a href="index.html">首&nbsp页</a></li>
				<li id="n2"><a href="chanpin1.html">产品中心</a>
					<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
									<a href="#nogo">产品分类：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">椅子</a></em>
									<em ><a href="#nogo">桌子</a></em>
									<em ><a href="#nogo">沙发</a></em>
									<em ><a href="#nogo">灯具</a></em>
									<em ><a href="#nogo">凳子</a></em>
									<em ><a href="#nogo">椅子</a></em>
									<em ><a href="#nogo">桌子</a></em>
									<em ><a href="#nogo">沙发</a></em>
									<em ><a href="#nogo">灯具</a></em>
									<em ><a href="#nogo">凳子</a></em>
								</dd>
							</dl>
							<dl>
								<dt>
									<a href="#nogo">品牌推荐：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">德克士</a></em>
									<em ><a href="#nogo">ASIA</a></em>
									<em ><a href="#nogo">德美</a></em>
									<em ><a href="#nogo">美的</a></em>
									<em ><a href="#nogo">海尔</a></em>
									<em ><a href="#nogo">Baoi</a></em>
									<em ><a href="#nogo">德克士</a></em>
									<em ><a href="#nogo">ASIA</a></em>
									<em ><a href="#nogo">德美</a></em>
									<em ><a href="#nogo">美的</a></em>
									<em ><a href="#nogo">海尔</a></em>
									<em ><a href="#nogo">Baoi</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li id="n3"><a href="xinwen1.html">新闻中心</a>
				<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
									<a href="#nogo">新闻分类：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">企业咨询</a></em>
									<em ><a href="#nogo">商业机密</a></em>
									<em ><a href="#nogo">趣味问答</a></em>
									<em ><a href="#nogo">友情链接</a></em>
									<em ><a href="#nogo">发展方式</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li id="n4"><a href="guanyu.html">关于我们</a>
					<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
									<a href="#nogo">企业详情：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">企业历史</a></em>
									<em ><a href="#nogo">企业文化</a></em>
									<em ><a href="#nogo">人文环境</a></em>
									<em ><a href="#nogo">硬件设施</a></em>
									<em ><a href="#nogo">员工福利</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li id="n5"><a href="lianxi.html">联系我们</a>
					<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
									<a href="#nogo">联系方式：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">硬件设施</a></em>
									<em ><a href="#nogo">加盟条件</a></em>
									<em ><a href="#nogo">资金运转</a></em>
									<em ><a href="#nogo">门面设计</a></em>
									<em ><a href="#nogo">后期服务</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="zhuce">
			<h3><a href="zhuce.html">注册</a></h3>
			<h3><a href="zhuce.html">登录</a></h3>	
		</div>
		</div>
		<div class="banner">
			<img src="img/banner2.png" alt="">
		</div>
		<div class="body0">
			<h1>企业新闻</h1>
			<span>News&Information</span>
		<div id="body1">
			<ul id="body1_1">
				<li><a href="xinwen2.html">荣获金椅子最佳企业热烈祝贺荣誉称号···>></a></li>
				<li><a href="xinwen2.html">加盟商突破120家，线下实体店开张。···>></a></li>
				<li><a href="xinwen2.html">跻身全国100强，我们下一步将与美国上市，正式递进一步·····>></a></li>
				<li><a href="xinwen2.html">荣获金椅子最佳企业荣誉称号···>></a></li>
				<li><a href="xinwen2.html">冲出亚洲，在北美开线下分店，第一天开业场面火热···>></a></li>
				<li><a href="xinwen2.html">荣获金椅子最佳企业荣誉称号，执法、大宗贸易、非致危性判定等综合议题···>></a></li>
				<li><a href="xinwen2.html">冲出亚洲，在北美开线下分店，第一天开业场面火热···>></a></li>
				<li><a href="xinwen2.html">9月24日至10月5日，《濒危野生动植物种国际贸易公约》(CITES)第17次缔约国大会在南非约翰内斯堡举行。本次缔约方大会将讨论海上引进、执法、大宗贸易、非致危性判定等综合议题····>></a></li>
			</ul>
			<div id="body1_2"></div>
		</div>
		<img src="img/a1.png" alt="" id="anniu">
		</div>
		<div class="body2">
			<li class="tog">企业动态</li>
				<div class="content1">
					<div class="content2">
						<p>经过5年的不懈努力我们公司终于有望在美国上市，从此以后消费者可以开始购买我们的股票，希望能够得到你们的支持。</br>
						经过5年的不懈努力我们公司终于有望在美国上市，从此以后消费者可以开始购买我们的股票，希望能够得到你们的支持。经过5年的不懈努力我们公司终于有望在美国上市，从此以后消费者可以开始购买我们的股票，希望能够。经过5年的不懈···
						</p>
					</div>
				</div>
			<li class="tog">新闻详情</li>
				<div class="content1">
					<div class="content2">
						<p>2016年10月7日在总公司召开股东大会具体探讨了关于公司在美国上市的具体事项，期间大家都表示激动与支持。经过5年的不懈努力我们公司终于有望在美国上市，从此以后消费者可以开始购买我们的股票，希望能够得到你们的支持。经过5年的不懈努力我们公司终于有望在美国上市，从此以后消费者可以开始购买我们的股票，希望能够得到你们的支持。</p>
					</div>
				</div>
			<li class="tog">最新资讯</li>
				<div class="content1">
					<div class="content2">
						<p>经过5年的不懈努力我们公司终于有望在美国上市，从此以后消费者可以开始购买我们的股票，希望能够得到你们的支持。经过5年的不懈努力我们公司终于有望在美国上市，从此以后消费者可以开始购买我们的股票，希望能够得到你们的支持。2016年10月7日在总公司召开股东大会具体探讨了关于公司在美国上市的具体事项，期间大家都表示激动与支持。</p>
					</div>
				</div>
		</div>
		<div class="clear"></div>
		<div class="tab_box">
		<div class="hi">
			<ul>
				<li class="on">关于</li>
				<li>信息</li>
				<li>新品发布</li>
			</ul>
		</div>
		<div class="tab">
			<div>
				据悉，soft家具是小美集科技有限公司旗下的创意健康纸家具品牌。soft家具是美盈森基于长达数年的纸研发成果推出的一种甲醛含量趋近于零的家具品牌。目前已针对儿童研发了一系列产品（家庭系列、幼儿园系列、益智系列）。其设计以简约、个性化时尚、节约空间为主，具有防水、防潮、防霉等特性。其巧妙的结构设计，实现与传统实木家具一样的承重能力，且重量只是传统家具的50%-70%，使其在移动摆放时更加安全与方便。同时结合稚美益智类产品的搭配提高孩子的动手能力，目的是为孩子们打造一个健康、安全的成长环境目前稚美家具已开始被一些中高端幼儿园以及房地产解创意健康纸家具的情况、建立合作关系，并陆续有经销商与小美集签订经销合作协议。
			</div>
			<div class="hide">
				soft创意家私公司近期打算在北美上市，经过5年的努力，我们成功的做到了零退款、高利润、零污染和快捷其巧妙的结构设计，实现与传统实木家具一样的承重能力，且重量只是传统家具的50%-70%，使其在移动摆放时更加安全与方便。同时结合稚美益智类产品的搭配提高孩子的动手能力，目的是为孩子们打造一个健康、安全的成长环境目前稚美家具已开始被一些中高端幼儿园以及房地产解创意健康纸家具的情况、建立合作关系，并陆续有经销商与小美集签订经销合作协议。家具的50%-70%，使其在移动摆放时更加安全与方便。同时结合稚美益智类产品的搭配提高孩子的动手能力，目的是为孩子···
			</div>
			<div class="hide">
				经过几个月的设计我们将于今年秋季推出最新的家私设计，其中包括北美简约风、复古英伦风、田园风实现与传统实木家具一样的承重能力，且重量只是传统家具的50%-70%，使其在移动摆放时更加安全与方便。同时结合稚美益智类产品的搭配提高孩子的动手能力，目的是为孩子们打造一个健康、安全的成长环境目前稚美家具已开始被一些中高端幼儿园以及房地产解创意健康纸家具的情况、建立合作关系，并陆续有经销商与小欢迎购买长环境目前稚美家具已开始被一些中高端幼儿园以及房地产解创意健康纸家具的情况、建立合作关系，并陆续有经销商与小···
			</div>
		</div>
		</div>
		<!-- 页脚部分 -->
		<div class="foot">
			<img src="img/logo2.jpg" alt="">
			<p>copyright@2016Soft家私 沪ICP备10002678号</br>
                客服电话:36789054</p>
                <ul class="foot2">
                	<li><img src="img/qq.png" alt=""></li>
                	<li><img src="img/weibo.png" alt=""></li>
                	<li><img src="img/weixin.png" alt=""></li>
                </ul>
		</div>
  	</div>
</body>
</html>