<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻详情</title>
	<link rel="stylesheet" href="css/xinwen2.css">
	<link rel="stylesheet" href="css/reset.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/xinwen2.js"></script>
</head>
<body>
	<div class="content">
		<div class="nav1">
		<div class="logo"><img src="img/logo.jpg" alt=""></div>
		<!-- 导航部分 -->
		<div class="nav">
			<ul>
				<li id="n1"><a href="">首&nbsp页</a></li>
				<li id="n2"><a href="">产品中心</a>
					<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
									<a href="#nogo">产品分类：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">椅子</a></em>
									<em ><a href="#nogo">桌子</a></em>
									<em ><a href="#nogo">沙发</a></em>
									<em ><a href="#nogo">灯具</a></em>
									<em ><a href="#nogo">凳子</a></em>
									<em ><a href="#nogo">椅子</a></em>
									<em ><a href="#nogo">桌子</a></em>
									<em ><a href="#nogo">沙发</a></em>
									<em ><a href="#nogo">灯具</a></em>
									<em ><a href="#nogo">凳子</a></em>
								</dd>
							</dl>
							<dl>
								<dt>
									<a href="#nogo">品牌推荐：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">德克士</a></em>
									<em ><a href="#nogo">ASIA</a></em>
									<em ><a href="#nogo">德美</a></em>
									<em ><a href="#nogo">美的</a></em>
									<em ><a href="#nogo">海尔</a></em>
									<em ><a href="#nogo">Baoi</a></em>
									<em ><a href="#nogo">德克士</a></em>
									<em ><a href="#nogo">ASIA</a></em>
									<em ><a href="#nogo">德美</a></em>
									<em ><a href="#nogo">美的</a></em>
									<em ><a href="#nogo">海尔</a></em>
									<em ><a href="#nogo">Baoi</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li id="n3"><a href="">新闻中心</a>
				<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
									<a href="#nogo">新闻分类：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">企业咨询</a></em>
									<em ><a href="#nogo">商业机密</a></em>
									<em ><a href="#nogo">趣味问答</a></em>
									<em ><a href="#nogo">友情链接</a></em>
									<em ><a href="#nogo">发展方式</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li id="n4"><a href="">关于我们</a>
					<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
									<a href="#nogo">企业详情：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">企业历史</a></em>
									<em ><a href="#nogo">企业文化</a></em>
									<em ><a href="#nogo">人文环境</a></em>
									<em ><a href="#nogo">硬件设施</a></em>
									<em ><a href="#nogo">员工福利</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li id="n5"><a href="">联系我们</a>
					<div class="jnNav">
						<div class="subitem">
							<dl class="fore">
								<dt>
									<a href="#nogo">联系方式：</a>
								</dt>
								<dd>
									<em ><a href="#nogo">硬件设施</a></em>
									<em ><a href="#nogo">加盟条件</a></em>
									<em ><a href="#nogo">资金运转</a></em>
									<em ><a href="#nogo">门面设计</a></em>
									<em ><a href="#nogo">后期服务</a></em>
								</dd>
							</dl>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="mid">
		<h1>黄总和美国MAC集团达成合作</h1>
		<h2>记者：李三</h2>
		<span>2016-10-09</span>
		<div class="anniu">
			<a href="index.html"><button id="anniu">Return</button></a>
		</div>
		<div class="tupian"><img src="img/g1.jpg" alt=""></div>
		<p>“soft，陪你生活一辈子”，这是我们的品牌梦想，
也是我们的承诺：如果产品在使用过程中出现质量瑕疵，
哪怕这件产品，你已经使用了一年、三年、五年，我们
都会免费为你更换或者退货。陪你生活一辈子，就是承诺：
对产品品质负责一辈子。</p>
       <p class="mid1">曾经有朋友问我：“你们承诺质量原因退换货，永
不设时限，难道不怕有恶意的消费者钻空子？”我们问
过自己，会有多少这样的消费者？0.1%？0.01%？可能
有，但我们绝对不会因为这0.01%的消费者，而放弃对
99.99%的消费者，提供更好服务的初衷。···</p>
       <p>“LifeVC，陪你生活一辈子”，这是我们的品牌梦想，
也是我们的承诺：如果产品在使用过程中出现质量瑕疵，
哪怕这件产品，你已经使用了一年、三年、五年，我们都会
免费为你更换或者退货。陪你生活一辈子，就是承诺：对产
品品质负责一辈子。曾经有朋友问我：“你们承诺质量原
退换货，永不设时限，难道不怕有恶意的···</p>
		<p>“LifeVC，陪你生活一辈子”，这是我们的品牌梦想，
也是我们的承诺：如果产品在使用过程中出现质量瑕疵，
哪怕这件产品，你已经使用了一年、三年、五年，我们都会
免费为你更换或者退货。陪你生活一辈子，就是承诺：对产
品品质负责一辈子。曾经有朋友问我：“你们承诺质量原
退换货，永不设时限，难道不怕有恶意的。“LifeVC，陪你生活一辈子”，这是我们的品牌梦想，也是我们的承诺：如果产品在使用过程中出现质量瑕疵，
哪怕这件产品，你已经使用了一年、三年、五年，我们都会
免费为你更换或者退货。陪你生活一辈子，就是承诺：对产
品品质负责一辈子。曾经有朋友问我：“你们承诺质量原
退换货，永不设时限，难道不怕有恶意的···</p>
	</div>
	<!-- 页脚部分 -->
	<div class="foot">
			<img src="img/logo2.jpg" alt="">
			<span>copyright@2016Soft家私 沪ICP备10002678号</br>
                客服电话:36789054</span>
                <ul class="foot2">
                	<li><img src="img/qq.png" alt=""></li>
                	<li><img src="img/weibo.png" alt=""></li>
                	<li><img src="img/weixin.png" alt=""></li>
                </ul>
		</div>
</div>
</body>
</html>