html{
    font-size:10px;
    color: #000;
}
.content{
	width: 100%;height: auto;overflow: hidden;
}
/* 导航条部分 */
.nav1{
	width: 100%;height: 6em;background-color: #fff;position: fixed;z-index: 10;
}
.logo{
	width:13%;height: 6em;float: left;
}
.logo>img{
	width: 100%;height: 6em;
}
.nav{
	width: 60%;height:6em;float:left;
}
.nav>ul{
	width: 100%;height: 6em;
}
.nav>ul>li{
	width: 15%;float: left;height: 100%;color: #f2f2f2;font-size: 2em;text-align: center;
}
.nav>ul>li>a{
	line-height: 3.5em;
}
#n5{
	background-color: #f2f2f2;
}
.zhuce{
	width: 20%;float: right;margin-top: 40px;
}
.zhuce>h3{
	text-align: center;float: left;margin-left: 20px;font-size: 1.8em;
}
.zhuce>h3:hover{
	color: red;
}
/* 二级菜单 */
.jnNav {
    background:#FFFFFF;
    border: 1px solid #B1B1B1;
    overflow: hidden;
    position: absolute;
    width: 474px;
    z-index: 1000;
    display: none;
    margin-left:25px;
}
.subitem {
    float: left;
    height: auto !important;
    padding: 10px 12px;
    width: 450px;
}
.subitem dl {
    border-top: 1px dashed #C4C4C4;
    overflow: hidden;
    padding: 8px 0;
	float:left;
}
.subitem .fore {
    border-top-style: none;
    padding-top: 0;
}
.subitem dt {
    float: left;
    font-weight: bold;
    line-height: 16px;
    padding: 4px 3px;
    text-align: center;
    width: 76px;
}
.subitem dt a {
    color: #000;
    font-weight: 700;
	font-size:12px;
	padding:0;
}
.subitem dd {
    float: left;
    overflow: hidden;
    padding: 0;
    width: 364px;
}
.subitem em {
    border-right: 1px solid #CCCCCC;
    float: left;
    font-style: normal;
    height: 14px;
    line-height: 14px;
    margin: 5px 0;
    padding: 0 8px;
}
.subitem em a {
    color: #666666;
    white-space: nowrap;
	font-size:12px;
	font-weight:normal;
	padding:0;
}
.subitem em a:hover{
	color: red;
}
.subitem em.noborder {
    border-right: 0 none;
}
/*body部分*/
.all{
        width: 90%;
        height: 800px;
        margin: 70px auto;
}
.left{
    width: 50%;
    height: auto;
    float: left;
}
.left>h1{
    width: 50%;
    height: 5%;
    color: #e61515;
    font: 4em "Times New Roman";
    margin-top: 30px;
}
.left>a>img{
    width: 90%;
    height: auto;
    margin-top: 30px;
}
.left>h2{
    width: 80%;
    height: 5%;
    color: #e61515;
    font: 4em "Times New Roman";
    margin-top: 30px;
}
.left>ul{
    width: 80%;
    height: 60%;
    margin-top: 5%;
}
.left>ul>li{
    width: 60%;
    height: 60px;
    font: 2em "微软雅黑";
    margin-left: 10%;
}
.left>ul>li>span{
    width: 60%;
    height: 50px;
    font: 1em "微软雅黑";
    margin-left: 30%;
    display: block;
}
.right{
    width: 45%;
    height: auto;
    float: right;
}
.right>h1{
    width: 50%;
    height: 5%;
    color: #e61515;
    font: 4em "Times New Roman";
    margin-top: 30px;
}
.right>ul{
    width: 80%;
    height: auto;
    margin-top: 30px;
}
.right>ul>li{
    width: 100%;
    height: 10em;
}
.right>ul>li>span{
    font: 2em "微软雅黑";
    margin-top: 20px;
    display: block;
}
#a1{
    width: 100%;
    height: 30px;
}
#a3{
    width: 25%;
    height: 40px;
    background-color: red;
    color: #fff;
    font: 2em "微软雅黑";
    border-radius: 10px;
    margin: 35% 0 0 50%;
}
.foot{
    width: 100%;
    height: 8em;
    background-color: #6a5b54;
    margin-top: 130px;
}
.foot>h1{
    font: 2em "微软雅黑";
    color: rgba(255,255,255,0.8);
    text-align: center;
    display: block;
    margin-top: -50px;
}
.foot>h2{
    font: 2em "微软雅黑";
    color: rgba(255,255,255,0.8);
    text-align: center;
    display: block;
}
.foot2{
    width: 20%;
    height: 3em;
    float: right;
    margin-top:-50px; 
}
.foot2>li{
    width: 30%;
    float: left;
}
.foot2>li>img{
    width: 50%;
    height: 100%;
}
#a{
    position: absolute;
}